@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #003865,#70BFFF);
    min-height: 100vh;
    font-family: "Playfair";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    gap: 15px;
    max-width: 300px;
    overflow: hidden;
    animation: slideIn 1s;
}

.signIn {
    width: 300px;
}

.signUp,.signIn {
    display: none;
}

.active {
    display: flex;
    animation: slideIn 0.5s forwards;
}

.deactivate{
    animation: slideOut 0.5s forwards;
    display: flex;
}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
}

form h2 {
    text-transform: uppercase;
    font-size: 16px !important;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

h2::after {
    content: '';
    width: 40px;
    height: 2px;
    border-radius: 2px;
    background-color: #D6EDFF;
    position: absolute;
    left: 0px;
    bottom: -8px;
    animation: infMove 2s forwards infinite;
}

@keyframes infMove {
                    
    0%,
    100% {
        left: 0px;
    }

    50% {
        left: 25px;
    }
}