* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    color: black;
    display: grid;
    grid-template-areas: 
    "head head head"
    "content content content"
    "footer footer footer";
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
}

header {
    grid-area: head;
    background: #003865;
    color: #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    grid-area: content;
}

footer{
    grid-area: footer;
    background: #003865;
    color: #fefefe;
}

#logo img {
    width: 5rem;
    height: 5rem;
    margin: auto 1rem;
}

nav ul {
    display: flex;
    gap: 5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fefefe;
    font-size: 1.3rem;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 2px solid #fefefe;
}

#login_btn {
    margin: auto 1rem;
    padding: 15px 20px;
    background-color: #fefefe;
    color: #003865;
    font-size: 1em;
    border-radius: .5rem;
}

#login_btn:hover {
    box-shadow: -5px 5px black;
}

footer {
    display: grid;
    place-content: center;
}

footer > span {
    font-size: 1rem;
}


@media screen and (max-width: 300px){
    body {
        grid-template-rows: 50px 1fr 50px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "head"
        "content"
        "footer";
    }
}